@import ../../variables.sass


.settings-plan-div
  width: 100%
  display: block
  .close-div
    width: 100%
    border-radius: unset
    display: inline-block
    mat-icon
      float: right
  .search-button
    font-size: 2vh
    width: 100%
    padding: 0.5vh 0.5vw
    margin-bottom: 0.5vw
    color: $white
    background-color: $navbar-color
    display: inline-flex
    justify-content: center
    align-items: center
    &:hover
      color: $navbar-button-hover

.error-message
  color: #e00000
