<div class="settings-plan-div">
  <div class="close-div"> <mat-icon (click)="closeDialog()" >close</mat-icon></div>
  <form *ngIf="!nextForm"
        #dataForm="ngForm">
    <h2>Podaj miasto początkowe i końcowe</h2>
    <mat-form-field>
      <input
        matInput
        (input)="typed($event.target.value,0)"
        placeholder="Wpisz punkt startowy"
        [matAutocomplete]="auto"
        [formControl]="startForm">
      <mat-hint *ngIf="isError" class="error-message">{{ errorMessage }}</mat-hint>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of cities" [value]="item['0']" >
          <span (click)="selectSuggest(item,0)">{{item['0'] }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-slide-toggle
      [checked]="endForm.disabled"
      (change)="endForm.disabled ?  setEndNull(): setStartAsEnd()">
      Miasto końcowe jak początkowe
    </mat-slide-toggle>

    <mat-form-field>
      <input
        matInput
        (input)="typed($event.target.value,1)"
        placeholder="Wpisz punkt końcowy"
        [matAutocomplete]="autoS"
        [formControl]="endForm">
      <mat-hint *ngIf="isErrorSec" class="error-message">{{ errorMessage }}</mat-hint>
      <mat-autocomplete #autoS="matAutocomplete">
        <mat-option *ngFor="let item of citiesSec" [value]="item['0']" >
          <span (click)="selectSuggest(item,1)">{{item['0'] }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button class="search-button"
            type="button"
            (click)="submit()">

    <!--[disabled]="dataForm.form.invalid"-->
      <span> Dalej </span><mat-icon> navigate_next  </mat-icon>
    </button>

  </form>
  <form
    *ngIf="nextForm"
    (ngSubmit)="createTrip()"
    #secForm="ngForm">
    <h3>Miasta noclegowe</h3>
    <mat-form-field>
      <input
        matInput
        (input)="typed($event.target.value,0)"
        placeholder="Podaj miasto "
        [matAutocomplete]="auto"
        [formControl]="startForm">
      <mat-hint *ngIf="!isError">Odległość między miastami maks 300 kilometrów</mat-hint>
      <mat-hint *ngIf="isError" class="error-message">{{ errorMessage }}</mat-hint>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of cities" [value]="item['0']" >
          <span (click)="setItem(item)">{{item['0'] }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
      class="search-button"
      type="button"
      (click)="addCity()">
      <span>Dodaj kolejne miasto</span>
      <mat-icon>add</mat-icon>
    </button>
    <button
      class="search-button"
      [disabled] = "hotelCityList === null"
      type="submit">
      <span> Dalej </span><mat-icon> navigate_next  </mat-icon>
    </button>
  </form>
</div>
