<div id="map" class="map map-component-style">
  <div class="search-column">
    <div class="list-container" >
      <div *ngIf="(isEmpty)">
        <h3 style="text-align: center">Brak wyników </h3>
      </div>
      <div *ngIf="(!isEmpty)">
        <h3 style="text-align: center">Lista zapisanych hoteli </h3>
        <div class="sort-by-div">
          <mat-select placeholder="Sortuj:">
            <mat-option (onSelectionChange)="sortByNameAZ()" value="Od A do Z">Posortowane: Od A do Z.</mat-option>
            <mat-option (onSelectionChange)="sortByNameZA()" value="Od Z do A">Posortowane: Od Z do A.</mat-option>
            <mat-option (onSelectionChange)="sortByAddDateY()" value="Data dodania(od najnowszych)">Posortowane: Data
              dodania(od najnowszych).
            </mat-option>
            <mat-option (onSelectionChange)="sortByAddDateO()" value="Data dodania(od najstarszych)">Posortowane: Data
              dodania(od najstarszych).
            </mat-option>
            <mat-option (onSelectionChange)="sortByUsageDateO()" value="Data użycia(od najstarszych)">Posortowane: Data
              użycia(od najstarszych).
            </mat-option>
            <mat-option (onSelectionChange)="sortByUsageDateN()" value="Data użycia(od najstarszych)">Posortowane: Data
              użycia(od najstarszych).
            </mat-option>
          </mat-select>
        </div>

      </div>
      <mat-tab-group (selectedTabChange)="tabChange($event)" >
        <mat-tab label="Wszystkie">
          <div class="list-element" *ngFor="let hotel of hotelList" (click)="showHotel(hotel)">
            <div class="hotel-image">
              <img src="/src/assets/images/hotel-with-three-floors.svg">
            </div>
            <div class="hotel-info">
              {{ hotel.name }}
            </div>
            <!-- ikona usuniecia-->
          </div>
        </mat-tab>
        <mat-tab label="Aktywne">
          <div class="list-element" *ngFor="let hotel of hotelList" (click)="showHotel(hotel)">
            <div class="hotel-image">
              <img src="/src/assets/images/hotel-with-three-floors.svg">
            </div>
            <div class="hotel-info">
              {{ hotel.name }}
            </div>
            <!-- ikona usuniecia-->
          </div>
        </mat-tab>
        <mat-tab label="Archiwalne">
          <div class="list-element" *ngFor="let hotel of hotelList" (click)="showHotel(hotel)">
            <div class="hotel-image">
              <img src="/src/assets/images/hotel-with-three-floors.svg">
            </div>
            <div class="hotel-info">
              {{ hotel.name }}
            </div>
            <!-- ikona usuniecia-->
          </div>

        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
  <div class="data-hotel-column" *ngIf="showHotelData">
    <h5> {{ hotelName }} </h5>
    <div>
      <span class="set-left-padding">Piętra:</span>
      <span class="span-right">{{floors}}</span>
    </div>
    <div>
      <span class="set-left-padding">Pokoje:</span>
      <span class="span-right">{{rooms}}</span>
    </div>
    <div>
      <span class="set-left-padding">Jakość:</span>
      <span class="span-right">{{qualitty}}</span>
    </div>
    <div>
      <span class="set-left-padding">Adres:</span>
      <span class="span-right">{{address}}</span>
    </div>
    <div>
      <span class="set-left-padding">Telefon:</span>
      <span class="span-right"> {{phone}}</span>
    </div>
    <div>
      <span class="set-left-padding">Fax:</span>
      <span class="span-right"> {{fax}}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Udogodnienia:</span>
      <span class="wide-span set-font-size">{{ translationText }}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Opis: </span>
      <span class="wide-span set-font-size">{{translationTextDescr }}</span>
    </div>
    <div class="wide-div ">
      <span class="wide-span set-left-padding">Metody płatności:</span>
      <div class="creditcard-div" *ngFor="let an of creditcard">
        <img [src]="creditCardImg(an.content)">
      </div>
    </div>
    <app-comments-list [commentList]="comments" [hotelId]="hotelId" [roadId]="'0'"></app-comments-list>

  </div>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading"
                 [config]="{ backdropBorderRadius: '3px' }"
                 [template]="customLoadingTemplate"></ngx-loading>
  </div>

</div>

