<div id="map" class="map map-component-style">
  <div class="search-column">
    <form (ngSubmit)="submit()"
          #hotelForm="ngForm">
      <div class="input-container">
        <h2>Wyszukaj nocleg</h2>
        <mat-form-field>
          <input
            matInput
            placeholder="Wybierz miasto"
            (input)="typed($event.target.value)"
            [matAutocomplete]="auto">
          <mat-hint *ngIf="isError" class="error-message">{{ errorMessage }}</mat-hint>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of cities" [value]="item['0']" >
              <span (click)="selectSuggest(item)">{{item['0'] }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button class="search-button">
          Wyszukaj <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
    <div class="list-container" *ngIf="showResultList">
      <div *ngIf="resultIsEmpty">
        <h3>Brak wyników </h3>
      </div>
      <div class="list-element" *ngFor="let hotel of hotelList" (click)="showHotel(hotel)">
        <div class="hotel-image">
          <img src="/src/assets/images/hotel-with-three-floors.svg">
        </div>
        <div class="hotel-info">
          {{ hotel.Name }}
        </div>
      </div>
    </div>
  </div>
  <div class="data-hotel-column" *ngIf="showHotelData">
    <h5> {{ hotelName }} </h5>
    <div>
      <span class="set-left-padding">Piętra:</span>
      <span class="span-right">{{floors}}</span>
    </div>
    <div>
      <span class="set-left-padding">Pokoje:</span>
      <span class="span-right">{{rooms}}</span>
    </div>
    <div>
      <span class="set-left-padding">Jakość:</span>
      <span class="span-right">{{qualitty}}</span>
    </div>
    <div>
      <span class="set-left-padding">Adres:</span>
      <span class="span-right">{{address}}</span>
    </div>
    <div>
      <span class="set-left-padding">Telefon:</span>
      <span class="span-right"> {{phone}}</span>
    </div>
    <div>
      <span class="set-left-padding">Fax:</span>
      <span class="span-right"> {{fax}}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Udogodnienia:</span>
      <span class="wide-span set-font-size">{{ translationText }}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Opis: </span>
      <span class="wide-span set-font-size">{{translationTextDescr }}</span>
    </div>
    <div class="wide-div ">
      <span class="wide-span set-left-padding">Metody płatności:</span>
      <div class="creditcard-div" *ngFor="let an of creditcard">
        <img [src]="creditCardImg(an.content)">
      </div>
    </div>
    <button
      class="search-button"
      (click)="saveHotelData()">
      Zapisz hotel
    </button>
    <app-comments-list [commentList]="comments" [hotelId]="hotelId" [roadId]="'0'"></app-comments-list>
  </div>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading"
                 [config]="{ backdropBorderRadius: '3px' }"
                 [template]="customLoadingTemplate"></ngx-loading>
  </div>

</div>

