@import ../../variables.sass

.search-column
  z-index: 2
  position: absolute
  display: block
  margin-left: 6vh
  margin-top: 2vh
  margin-bottom: 2vh
  height: 75vh
  width: 25%

  div
    width: 100%
    box-sizing: border-box

    &.input-container
      background-color: $white
      margin-bottom: 1vh
      border-radius: 10px
      padding: 0.8vh 0.8vw
      display: block

      input
        width: 100%
        margin-bottom: 0.5vw

      h2
        margin-bottom: 0.8vh
        text-align: center
        margin-top: 0.8vh


      .suggestion-div
        width: 95%
        position: absolute
        z-index: 3
        padding: 0
        display: block
        background-color: #FFFFFF
        border: 1px solid gray
        margin-right: 1.6vw
        border-radius: 0

        .suggestion-element
          margin: 0
          padding: 0.3vh 0.3vw 0.3vh 0.3vw

          border-bottom: 1px solid $navbar-color
          &:hover
            background-color: darkgrey
            border-bottom: 1px solid $navbar-button-hover


    &.list-container
      background-color: $white
      max-height: 55vh
      padding: 0.5vh 0.5vw
      border-radius: 10px
      overflow-y: scroll
      overflow-x: hidden
      display: block

      .list-element
        width: 100%
        height: 8vh
        display: inline-flex
        border-bottom: 1px solid $navbar-color
        .hotel-image
          width: 30%
          height: 100%
          display: block
          img
            width: 50%
          mat-icon
            display: none
        .hotel-info
          width: 70%
          height: 100%
          display: block
        &:hover
          background-color: darkgrey
          border-bottom: 1px solid $navbar-button-hover

.data-hotel-column
  z-index: 2
  position: absolute
  display: block
  margin-left: 52%
  margin-top: 2vh
  margin-bottom: 2vh
  height: 75vh
  width: 25%
  background-color: #FFFFFF
  border-radius: 10px
  padding: 0.8vh 0.8vw
  overflow-y: auto
  div
    display: inline-flex
    width: 100%

    .set-left-padding
      padding-left: 5px
      font-weight: bold

    span
      width: 30%
      display: inline-block
      margin-bottom: 1vh
    .span-right
      width: 70%
      text-align: right
    .wide-span
      width: 100%
      display: block
    .set-font-size
      font-size: 2vh

  .wide-div
    display: block
    .creditcard-div
      display: inline-block
      padding: 2vh
      width: 25%
      img
        padding: 10px
        max-width: 100%
  h5
    text-align: center
    margin: 0.8vh 0

.search-button
  font-size: 2vh
  width: 100%
  padding: 0.5vh 0.5vw
  color: $white
  background-color: $navbar-color
  &:hover
    color: $navbar-button-hover

