<div class="main-container">
  <nav>
    <div class="breadcrumb">
      <a class="home-href" href="/home"><h2 class="header appname">Zaplanuj wyjazd</h2></a>
    </div>
    <div class="login-panel" *ngIf="!isAuth">
      <button class="nav-button half" (click)="logginButtonEvent()" >Zaloguj</button>
      <button class="nav-button half" (click)="registerButtonEvent()" >Zarejestruj się</button>
    </div>
    <div class="login-panel" *ngIf="isAuth">
      <button class="nav-button icons" (click)="homeRedirectButtonEvent()"   ><i class="fa fa-home"></i></button>
      <button class="nav-button user-name" (click)="userButtonEvent()"  >
        <span class="name-span">{{ user_login }}</span>
        <i class="fa fa-cog settings-icon"></i>
      </button>
      <button class="nav-button icons" (click)="logoutButtonEvent()"><i class="fa fa-sign-out"></i></button>
    </div>
  </nav>
  <div class="content-div">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="position-container"></div>
    <div class="contact-container">
      <h3 class="header help-header">Masz pytania?</h3>
      <span>
      Napisz do nas pod ten adres:
      <br>
      <p>planyourtrip@gmail.com</p>
      Lub zadzwoń pod numer:
      <p>546 987 321</p>
    </span>
    </div>
  </footer>

</div>


