@import ../variables.sass

img
  object-fit: fill
  height: 100%
  width: 100%

.content-div
  width: 100%
  height: 79vh
  display: flex

.hover
  transition: .5s ease
  &:hover
    opacity: 0.3

nav
  height: 6vh
  background-color: $navbar-color
  width: 100%
  display: flex
  color: $white

.breadcrumb
  width: 80%
  height: 100%

.home-href
  height: 100%
  align-items: center
  display: inline-flex

.header
  margin: 0
  &.appname
    width: auto
    display: initial
    padding-left: 4vw
  &.help-header
    display: flex
    padding-top: 1vh
    padding-left: 2vw
  &.title-app-header
    padding-top: 0.5vh
    padding-bottom: 0.5vh
    width: 100%
    text-align: center

.login-panel
  width: 20%
  height: 100%
  display: inline-flex
  color: $white

.nav-button
  font-family: $font
  height: 100%
  outline: none
  color: $white
  font-size: 2vh
  font-weight: bold
  display: flex
  align-items: center
  justify-content: center
  &.half
    width: 50%
  &.icons
    width: 12%
  &.user-name
    width: 76%
    display: inline-flex
  i
    height: 100%
    width: 100%
    font-size: 3vh
  &:hover
    color: $navbar-button-hover
    cursor: pointer


.name-span
  text-align: left
  padding-left: 0.5vw
  min-width: 85%

.settings-icon
  width: 15%

footer
  color: $white
  display: flex
  width: 100%
  height: 15vh
  background-color: $footer-background

.position-container
  width: 80%
  height: 100%

.contact-container
  width: 20%
  height: 100%
  display: block
  padding: 0 1.5vw
  span
    font-size: 1.9vh
    p
      font-size: 1.4vh
      margin: 0
      font-weight: bold
      text-align: right

