@import ../../variables.sass

.check-path-div
  width: 50%
  height: 100%
  display: flex
  background: url("../../assets/images/wyznacztrase.jpeg") round
  &:hover
    cursor: pointer
    background: url("../../assets/images/wyznacztraseHov.jpeg") round


.check-hotels-div
  border-left: 7px solid $border-between-divs-color
  border-right: 7px solid $border-between-divs-color
  background-image: url("../../assets/images/hotele.jpeg")
  width: 40%
  height: 79vh
  alignment: center
  //-webkit-transform: skew(-15deg)
  //-moz-transform: skew(-15deg)
  //-o-transform: skew(-15deg)
  display: flex
  position: absolute
  left: 30%
  right: 30%
  &:hover
    cursor: pointer
    background: url("../../assets/images/hoteleHov.jpeg") round

.plan-your-tip-div
  width: 50%
  height: 100%
  display: flex
  background: url("../../assets/images/zaplanujwycieczkę.jpeg") round
  &:hover
    cursor: pointer
    background: url("../../assets/images/zaplanujwycieczkęHov.jpeg") round

.home-div
  width: 100vw
  height: 79vh
  display: flex

