@import ../../variables.sass

.acount-div
  display: inline-flex
  width: 100%
  min-height: 100%

.subpage-tabs-div
  width: 35%
  background-color: $bc-color
  .right-align-div
    width: 70%
    margin-left: auto
    display: block
    padding: 3vh 20px 10px 10px
    height: 100%
    >div.menu-element:first-of-type
      border-top: 1px solid $black
    .menu-element
      width: 100%
      font-size: 2.5vh
      padding: 1vh 0.5vw 1vh 0.5vw
      border-bottom: 1px solid $black
      span
        font-size: 2vh
      &:hover
        border-left: 5px solid $navbar-button-hover
        border-bottom: 1px solid $navbar-button-hover
        color: $navbar-button-hover
        cursor: pointer


    .user-data-span
      font-size: 3vh
      font-weight: bold
      width: 100%
      padding: 0 0 3vh 1vw
      display: block

.data-div
  width: 65%
