<div class="acount-div">
  <div class="subpage-tabs-div">
    <div class="right-align-div">
      <span *ngIf="!NameEmpty">{{ uname }}{{ surname }}</span>
      <span *ngIf="NameEmpty"> {{ user_name }}</span>
      <div (click)="AccountDetails()" class="menu-element">
        <span >Konto</span>
      </div>
      <div (click)="Roads()" class="menu-element">
        <span>Zapisane trasy</span>
      </div>
      <div (click)="Hotels()" class="menu-element">
        <span >Zarezerwowne hotele</span>
      </div>
      <div (click)="MyTrips()" class="menu-element">
        <span >Moje zaplanowane wycieczki</span>
      </div>
    </div>
  </div>
  <div class="data-div">
    <router-outlet></router-outlet>
  </div>
</div>
