<div id="map" class="map-component-style">
  <div class="search-column">
    <div class="input-container">
      <form (ngSubmit)="submit()"
            #roadForm="ngForm">
        <h2>Wyszukaj połączenie</h2>

        <mat-form-field>
          <input
            matInput
            (input)="typed($event.target.value,0)"
            placeholder="Wpisz punkt startowy"
            [matAutocomplete]="auto"
            [formControl]="startForm">
          <mat-hint *ngIf="isError" class="error-message">{{ errorMessage }}</mat-hint>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of cities" [value]="item['0']">
              <span (click)="selectSuggest(item,0)">{{item['0'] }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            (input)="typed($event.target.value,1)"
            placeholder="Wpisz punkt końcowy"
            [matAutocomplete]="autoS"
            [formControl]="endForm">
          <mat-hint *ngIf="isErrorSec" class="error-message">{{ errorMessage }}</mat-hint>
          <mat-autocomplete #autoS="matAutocomplete">
            <mat-option *ngFor="let item of citiesSec" [value]="item['0']">
              <span (click)="selectSuggest(item,1)">{{item['0'] }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <button class="search-button"
                type="submit"
                [disabled]="roadForm.form.invalid">
          Wyszukaj <i class="fa fa-search"></i>
        </button>
        <div class="error-div">
          <h4>{{ message }}</h4>
        </div>
      </form>

    </div>

    <div class="list-container" *ngIf="(showRouteResoult)">
      <div class="route-list-element">
        <div (click)="chooseRoute(1)" class="route">
          <p class="p-header"> Trasa najszybsza</p>
          <div class="start-end-div">
            <div class="name-div"><p>{{sPoint.name}}</p></div>
            <div class="name-div align-right"><p>{{ePoint.name}}</p></div>
          </div>
          <div class="summary-div">
            <span>Podsumowanie:</span>
            <span class="summary-info">Czas:</span>
            <span class="summary-info align-right">{{fastTime}}</span>
            <span class="summary-info">Długość trasy:</span>
            <span class="summary-info align-right">{{fastDistance}}</span>
          </div>
        </div>
        <div *ngIf="(showStepsF)" class="steps-div">
          <div>
            <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
            <div class="step-more-info">
              <p>{{ actualStep.instruction }}</p>
            </div>
            <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>
      <div class="route-list-element">
        <div (click)="chooseRoute(2)" class="route">
          <p class="p-header">Trasa najkrótsza</p>
          <div class="start-end-div">
            <div class="name-div"><p>{{sPoint.name}}</p></div>
            <div class="name-div align-right"><p>{{ePoint.name}}</p></div>
          </div>
          <div class="summary-div">
            <span>Podsumowanie:</span>
            <span class="summary-info">Czas:</span>
            <span class="summary-info align-right">{{ shortTime }}</span>
            <span class="summary-info">Długość trasy:</span>
            <span class="summary-info align-right"> {{shortDistance}}</span>
          </div>
        </div>
        <div *ngIf="(showStepsS)" class="steps-div">
          <div>
            <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
            <div class="step-more-info">
              <p>{{ actualStep.instruction }}</p>
            </div>
            <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>
      <div class="route-list-element">
        <div (click)="chooseRoute(3)" class="route">
          <p class="p-header">Trasa rekomendowana</p>
          <div class="start-end-div">
            <div class="name-div"><p>{{sPoint.name}}</p></div>
            <div class="name-div align-right"><p>{{ePoint.name}}</p></div>
          </div>
          <div class="summary-div">
            <span>Podsumowanie:</span>
            <span class="summary-info">Czas:</span>
            <span class="summary-info align-right"> {{ recomendTime }} </span>
            <span class="summary-info">Długość trasy:</span>
            <span class="summary-info align-right"> {{ recomendDistance}} </span>
          </div>
        </div>
        <div *ngIf="(showStepsR)" class="steps-div">
          <div>
            <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
            <div class="step-more-info">
              <p>{{ actualStep.instruction }}</p>
            </div>
            <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
          </div>

        </div>
      </div>
      <button class="search-button"
              *ngIf="((showStepsF||showStepsR||showStepsS))"
              (click)="saveRouteToAcount()">
        <span>Zapisz aktywna trasę <mat-icon class="mat-icon">save</mat-icon></span>
      </button>
    </div>

  </div>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading"
                 [config]="{ backdropBorderRadius: '3px' }"
                 [template]="customLoadingTemplate"></ngx-loading>
  </div>
  <div *ngIf="showComments" class="comments-container">
    <app-comments-list  [commentList]="comments" [hotelId]="'0'" [roadId]="roadId"></app-comments-list>
  </div>
</div>
