@import ../../variables.sass

.search-column
  z-index: 2
  position: absolute
  display: block
  margin-left: 4vw
  margin-top: 2vh
  margin-bottom: 2vh
  height: 75vh
  width: 25%

  div
    width: 100%

    &.input-container
      display: block
      margin-bottom: 1vh
      background-color: $white
      border-radius: 10px
      padding: 0.8vh 0.8vw


      input
        width: 100%
        margin-bottom: 0.5vw

      .data-picker-input
        width: 50%
        float: left

      .time-picker-input
        width: 30%
        float: right

      h2
        margin-bottom: 0.8vh
        text-align: center
        margin-top: 0.8vh




.list-container
  background-color: $white
  max-height: 60%
  overflow-y: auto
  border-radius: 10px
  padding: 0.8vh 0.8vw
  p
    display: block
    margin-bottom: 0
    margin-top: 0
    font-size: 1.5vh

  .steps-div
    width: 100%
    display: block
    padding-top: 0

    div
      display: flex
      width: 100%
      border-radius: 0
      padding: 0.3vh 0.3vw
      p
        width: 100%
        text-align: center
    .step-more-info
      width: 80%
    .mat-icon
      width: 10%
      font-size: 2vh
      &.left
        float: left
      &.right
        text-align: right

  .route-list-element
    border-radius: unset

    &:hover
      background-color: darkgrey
  .route
    width: 100%
    display: block
    border-radius: unset


    .align-right
      text-align: right


    .p-header
      text-align: center
      font-weight: bold
      font-size: 1.7vh

    .summary-div
      padding: 0.3vh 0.3vw
      display: block
      span
        display: block
        font-size: 1.3vh
        width: 100%
      .summary-info
        display: inline-flex
        width: 50%
    .start-end-div
      width: 100%
      padding: 0.3vh 0.3vw
      display: flex

      .name-div
        padding: 0
        width: 50%
        font-weight: bold

    &.suggestion-div
      width: 95%
      position: absolute
      z-index: 3
      padding: 0
      display: block
      background-color: #FFFFFF
      border: 1px solid gray
      margin-right: 1.6vw
      border-radius: 0

      .suggestion-element
        margin: 0
        padding: 0.3vh 0.3vw 0.3vh 0.3vw

        border-bottom: 1px solid $navbar-color
        &:hover
          background-color: darkgrey
          border-bottom: 1px solid $navbar-button-hover

.search-button
  font-size: 2vh
  width: 100%
  padding: 0.5vh 0.5vw
  margin-bottom: 0.5vw
  color: $white
  background-color: $navbar-color
  &:hover
    color: $navbar-button-hover

.comments-container
  z-index: 2
  right: 0
  border-radius: 10px
  background-color: white
  position: absolute
  display: block
  margin-right: 2vw
  margin-top: 2vh
  margin-bottom: 2vh
  width: 20%
