@import ../../../variables.sass

.account-details-div
  width: 100%
  margin-right: auto
  display: block
  padding: 3vh 20px 10px 10px
  height: 100%
  overflow-y: auto

.data-display
  margin-left: 2vw
  margin-top: 2vh
  width: 60%
  h3
    width: 100%


.label-input-div
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  span
    width: 30%
    display: block
    text-align: right
    padding-right: 1vw
    box-sizing: border-box

  input
    width: 70%
    display: block
