<div class="account-details-div">
    <div class="data-display">
      <h3> {{ title }} </h3>
      <div class="label-input-div">
        <span> Imie </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <div class="label-input-div">
        <span> Nazwisko </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <div class="label-input-div">
        <span> Email </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <div class="label-input-div">
        <span> Miasto </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <div class="label-input-div">
        <span> Ulica </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <div class="label-input-div">
        <span> Numer </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <div class="label-input-div">
        <span> Kod pocztowy </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <h3> Dane profilowe </h3>
      <div class="label-input-div">
        <span> Url zdjecia  </span><!--zdjęcieprofilowe-->
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
      <div class="label-input-div">
        <span> Bio </span>
        <mat-form-field>
          <input
            matInput>

        </mat-form-field>
      </div>
    </div>
</div>
