<div id="map" class="plan-trip">
  <div class="new-trip-button-div" *ngIf="!planing">
    <button class="new-trip-button" (click)="showTripSettings()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="search-column">
    <div *ngIf="findHotelMode">
      <div class="hotel-find-div">
        <h3> Wybierz nocleg w mieście:</h3>
        <h4> {{actualCity[3]}}</h4>
        <div class="button-container">
          <button
            type="button"
            (click)="prevCity()"
            class="half-button">Poprzednie miasto
          </button>

          <button
            *ngIf="!isLast"
            type="button"
            (click)="nextCity()"
            class="half-button float-right">Następne miasto
          </button>
          <button
            *ngIf="isLast"
            type="button"
            (click)="goToRoadCheck()"
            class="half-button float-right">Wyznacz trasy
          </button>
        </div>
      </div>

      <div class="list-container" *ngIf="showResultList">
        <div *ngIf="resultIsEmpty">
          <h3>Brak wyników dla {{actualCity[3]}}</h3>
        </div>
        <div class="list-element" *ngFor="let hotel of hotelList" (click)="showHotel(hotel)">
          <div class="hotel-image">

          </div>
          <div class="hotel-info">
            {{ hotel.Name }}
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="findRoadMode" >
      <div class="road-check-div">
        <div class="hotel-find-div">
          <h3> Wybierz trasę między miastami:</h3>
          <div class="city-name">
            <h4 class="half-header"> {{sPoint.name}}</h4>
            <h4 class="half-header right"> {{ePoint.name}}</h4>
          </div>
          <div class="button-container">
            <button
              type="button"
              (click)="prevRoad()"
              class="half-button">Poprzednia trasa
            </button>

            <button
              *ngIf="!isLast"
              type="button"
              (click)="nextRoad()"
              class="half-button float-right">Następna trasa
            </button>
            <button
              *ngIf="isLast"
              type="button"
              (click)="saveTripToUserAcount()"
              class="half-button float-right">Zapisz podróż
            </button>
          </div>
        </div>

        <div class="list-container" *ngIf="(showRouteResoult)">
          <div class="route-list-element">
            <div (click)="chooseRoute(1)" class="route">
              <p class="p-header"> Trasa najszybsza</p>
              <div class="start-end-div">
                <div class="name-div"><p>{{sPoint.name}}</p></div>
                <div class="name-div align-right"><p>{{ePoint.name}}</p></div>
              </div>
              <div class="summary-div">
                <span>Podsumowanie:</span>
                <span class="summary-info">Czas:</span>
                <span class="summary-info align-right">{{fastTime}}</span>
                <span class="summary-info">Długość trasy:</span>
                <span class="summary-info align-right">{{fastDistance}}</span>
              </div>
            </div>
            <div *ngIf="(showStepsF)" class="steps-div">
              <div>
                <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
                <div class="step-more-info">
                  <p>{{ actualStep.instruction }}</p>
                </div>
                <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
              </div>
            </div>
          </div>
          <div class="route-list-element">
            <div (click)="chooseRoute(2)" class="route">
              <p class="p-header">Trasa najkrótsza</p>
              <div class="start-end-div">
                <div class="name-div"><p>{{sPoint.name}}</p></div>
                <div class="name-div align-right"><p>{{ePoint.name}}</p></div>
              </div>
              <div class="summary-div">
                <span>Podsumowanie:</span>
                <span class="summary-info">Czas:</span>
                <span class="summary-info align-right">{{ shortTime }}</span>
                <span class="summary-info">Długość trasy:</span>
                <span class="summary-info align-right"> {{shortDistance}}</span>
              </div>
            </div>
            <div *ngIf="(showStepsS)" class="steps-div">
              <div>
                <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
                <div class="step-more-info">
                  <p>{{ actualStep.instruction }}</p>
                </div>
                <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
              </div>
            </div>
          </div>
          <div class="route-list-element">
            <div (click)="chooseRoute(3)" class="route">
              <p class="p-header">Trasa rekomendowana</p>
              <div class="start-end-div">
                <div class="name-div"><p>{{sPoint.name}}</p></div>
                <div class="name-div align-right"><p>{{ePoint.name}}</p></div>
              </div>
              <div class="summary-div">
                <span>Podsumowanie:</span>
                <span class="summary-info">Czas:</span>
                <span class="summary-info align-right"> {{ recomendTime }} </span>
                <span class="summary-info">Długość trasy:</span>
                <span class="summary-info align-right"> {{ recomendDistance}} </span>
              </div>
            </div>
            <div *ngIf="(showStepsR)" class="steps-div">
              <div>
                <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
                <div class="step-more-info">
                  <p>{{ actualStep.instruction }}</p>
                </div>
                <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
              </div>

            </div>
          </div>
          <button class="search-button"
                  *ngIf="(showStepsF||showStepsR||showStepsS)"
                  (click)="saveRouteToList()">
            <span>Zapisz aktywna trasę <mat-icon class="mat-icon">save</mat-icon></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="data-hotel-column" *ngIf="showHotelData">
    <h5> {{ hotelName }} </h5>
    <div>
      <span class="set-left-padding">Piętra:</span>
      <span class="span-right">{{floors}}</span>
    </div>
    <div>
      <span class="set-left-padding">Pokoje:</span>
      <span class="span-right">{{rooms}}</span>
    </div>
    <div>
      <span class="set-left-padding">Jakość:</span>
      <span class="span-right">{{qualitty}}</span>
    </div>
    <div>
      <span class="set-left-padding">Adres:</span>
      <span class="span-right">{{address}}</span>
    </div>
    <div>
      <span class="set-left-padding">Telefon:</span>
      <span class="span-right"> {{phone}}</span>
    </div>
    <div>
      <span class="set-left-padding">Fax:</span>
      <span class="span-right"> {{fax}}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Udogodnienia:</span>
      <span class="wide-span set-font-size">{{ translationText }}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Opis: </span>
      <span class="wide-span set-font-size">{{translationTextDescr }}</span>
    </div>
    <div class="wide-div ">
      <span class="wide-span set-left-padding">Metody płatności:</span>
      <div class="creditcard-div" *ngFor="let an of creditcard">
        <img [src]="creditCardImg(an.content)">
      </div>
    </div>
    <button class="save-hotel-button" (click)="saveHotelToList(actualHotelId)"> Zapisz informacje o hotelu</button>
    <app-comments-list [commentList]="comments" [hotelId]="hotelId" [roadId]="'0'"></app-comments-list>


  </div>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading"
                 [config]="{ backdropBorderRadius: '3px' }"
                 [template]="customLoadingTemplate"></ngx-loading>
  </div>
  <div *ngIf="showCommentsRoad" class="comments-container">
    <app-comments-list [commentList]="comments" [hotelId]="'0'" [roadId]="roadId"></app-comments-list>
  </div>
</div>
