@import ../../variables.sass
@import ../check-hotel/check-hotel.component
@import ../check-road/check-road.component
.plan-trip
  width: 100%
.hotel-find-div
  background-color: $white
  margin-bottom: 1vh
  border-radius: 10px
  padding: 0.8vh 0.8vw
  display: block
  h3
    margin-top: 0
  h4
    margin-top: 0

  .city-name
    width: 100%
    display: flex
    .half-header
      width: 50%
      display: inline-block
      &.right
        text-align: right
  .button-container
    border-radius: unset
    width: 100%
    padding: 0
    .half-button
      width: 48%
      background-color: $navbar-color
      &.float-right
        float: right
.save-hotel-button
  width: 100%
  background-color: $navbar-color
.new-trip-button-div
  position: absolute
  width: 3vw
  height: 3vw
  left: 1vw
  bottom: 18vh
  z-index: 2
  .new-trip-button
    width: 100%
    border-radius: 50%
    justify-content: center
    display: flex
    background-color: $navbar-color
    color: $white
    &:hover
      color: $navbar-button-hover
    &:active
      color: $navbar-button-hover
