@import "~src/app/check-road/check-road.component"

.list-container
  border-radius: 10px
  padding: 0.8vh 0vw
  h3
    margin: 0.3vh 0
    text-align: center
.steps-div
  width: 100%
  padding: 0.8vh 0.8vw
  display: block
  padding-top: 0
  background-color: $white
  max-height: 20%
  margin-bottom: 1vh
  h3
    margin: 0
    width: 100%
    text-align: center
  div
    display: flex
    width: 100%
    border-radius: 0
    padding: 0.3vh 0.3vw
    p
      width: 100%
      text-align: center
  .step-more-info
    width: 80%
    p
      margin: 0
      font-size: 1.5vh

  .mat-icon
    width: 10%
    font-size: 2vh
    &.left
      float: left
    &.right
      text-align: right
