<div id="map" class="map-component-style">


  <div class="search-column">
    <div *ngIf="(isEmpty)" class="list-container">
      <h3 style="text-align: center">Brak zapisanych tras</h3>
    </div>
    <div *ngIf="(showSteps)" class="steps-div">
      <h3> Wskazówki aktualnej trasy </h3>
      <div>
        <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
        <div class="step-more-info">
          <p>{{ actualStep.instruction }}</p>
        </div>
        <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
      </div>
      <button
        class="search-button"
        (click)="deleteRoad()"> Usuń trasę
      </button>
    </div>
    <div class="list-container" *ngIf="(!isEmpty)">
      <h3> Lista zapisanych tras:</h3>
      <div class="sort-by-div">
        <mat-select placeholder="Sortuj:">
          <mat-option (onSelectionChange)="sortByNameAZ()" value="Od A do Z">Posortowane: Od A do Z.</mat-option>
          <mat-option (onSelectionChange)="sortByNameZA()" value="Od Z do A">Posortowane: Od Z do A.</mat-option>
          <mat-option (onSelectionChange)="sortByAddDateY()" value="Data dodania(od najnowszych)">Posortowane: Data
            dodania(od najnowszych).
          </mat-option>
          <mat-option (onSelectionChange)="sortByAddDateO()" value="Data dodania(od najstarszych)">Posortowane: Data
            dodania(od najstarszych).
          </mat-option>
          <mat-option (onSelectionChange)="sortByUsageDateO()" value="Data użycia(od najstarszych)">Posortowane: Data
            użycia(od najstarszych).
          </mat-option>
          <mat-option (onSelectionChange)="sortByUsageDateN()" value="Data użycia(od najstarszych)">Posortowane: Data
            użycia(od najstarszych).
          </mat-option>
        </mat-select>
      </div>
      <mat-tab-group (selectedTabChange)="tabChange($event)" >
        <mat-tab label="Wszystkie">
          <div class="route-list-element" *ngFor="let road of roadList">
            <div (click)="showRoute(road)" class="route">
              <p class="p-header"> {{road.name}}</p>
              <p style="text-align: right">Data dodania: {{road.created_date.substr(0,16).replace('T',' ')}}</p>
              <div class="start-end-div">
                <div class="name-div">
                  <p>
                    Miasto startowe:
                    <br>
                    {{road.sPointName}}
                  </p>
                </div>
                <div class="name-div align-right"><p>
                  Miasto Końcowe:
                  <br>
                  {{road.ePointName}}</p>
                </div>
              </div>
              <!--<div class="summary-div">-->
              <!--<span>Podsumowanie:</span>-->
              <!--<span class="summary-info">Czas:</span>-->
              <!--<span class="summary-info align-right">{{fastTime}}</span>-->
              <!--<span class="summary-info">Długość trasy:</span>-->
              <!--<span class="summary-info align-right">{{fastDistance}}</span>-->
              <!--</div>-->
            </div>

          </div>

        </mat-tab>
        <mat-tab label="Aktywne">
          <div class="route-list-element" *ngFor="let road of roadList">
            <div (click)="showRoute(road)" class="route">
              <p class="p-header"> {{road.name}}</p>
              <p style="text-align: right">Data dodania: {{road.created_date.substr(0,16).replace('T',' ')}}</p>
              <div class="start-end-div">
                <div class="name-div">
                  <p>
                    Miasto startowe:
                    <br>
                    {{road.sPointName}}
                  </p>
                </div>
                <div class="name-div align-right"><p>
                  Miasto Końcowe:
                  <br>
                  {{road.ePointName}}</p>
                </div>
              </div>
            </div>

          </div>

        </mat-tab>
        <mat-tab label="Archiwalne">
          <div class="route-list-element" *ngFor="let road of roadList">
            <div (click)="showRoute(road)" class="route">
              <p class="p-header"> {{road.name}}</p>
              <p style="text-align: right">Data dodania: {{road.created_date.substr(0,16).replace('T',' ')}}</p>
              <div class="start-end-div">
                <div class="name-div">
                  <p>
                    Miasto startowe:
                    <br>
                    {{road.sPointName}}
                  </p>
                </div>
                <div class="name-div align-right"><p>
                  Miasto Końcowe:
                  <br>
                  {{road.ePointName}}</p>
                </div>
              </div>
              <!--<div class="summary-div">-->
              <!--<span>Podsumowanie:</span>-->
              <!--<span class="summary-info">Czas:</span>-->
              <!--<span class="summary-info align-right">{{fastTime}}</span>-->
              <!--<span class="summary-info">Długość trasy:</span>-->
              <!--<span class="summary-info align-right">{{fastDistance}}</span>-->
              <!--</div>-->
            </div>

          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading"
                 [config]="{ backdropBorderRadius: '3px' }"
                 [template]="customLoadingTemplate"></ngx-loading>
  </div>
  <div *ngIf="showComments" class="comments-container">
    <app-comments-list [commentList]="comments" [hotelId]="'0'" [roadId]="roadId"></app-comments-list>
  </div>
</div>
