<div class="login-container">
  <h2>Zaloguj się</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field><input
      matInput
      [(ngModel)]="form.user_login"
      #user_login="ngModel"
      type="text"
      name="user_login"
      placeholder="Login/Nick"></mat-form-field>
    <mat-form-field><input
      matInput
      placeholder="Hasło"
      id="password"
      name="password"
      #password="ngModel"
      [(ngModel)]="form.password"
      [pattern]="passPatern"
      type="password"></mat-form-field>
    <span class="register-span"><a (click)="passwordReset()">Przypomnij hasło</a> lub <a (click)="loginDialog($event)">  Zarejestruj się</a></span>
    <button type="submit" [disabled]="loginForm.form.invalid">Zaloguj się</button>
    <div *ngIf="isInvalid" class="error-div">
      <span>Niepoprawne dane</span>
    </div>
  </form>
</div>
