<div class="save-data-dialog">
  <form>
    <h3 class="dialog-header">Podaj nazwę zapisanego elementu</h3>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        (input)="typed($event.target.value)"
        [formControl]="saveNameForm"
        placeholder="Nazwa">
      <mat-hint *ngIf="isError" class="error-message">{{ errorMessage }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput [matDatepicker]="picker"
        placeholder="Wybierz datę "
        (dateInput)="addEvent('input', $event)"
        (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button
      class="save-button"
      type="button"
      (click)="returnName()">
      Zapisz
    </button>
  </form>
</div>


