@import "~src/variables"
.save-button
  font-size: 2vh
  width: 100%
  padding: 0.5vh 0.5vw
  color: $white
  background-color: $navbar-color
  &:hover
    color: $navbar-button-hover
.save-data-dialog
  width: 100%
  display: block
  h3
    margin-top: 0
    text-align: center

.error-message
  display: block
  color: #e00000
