
@import "~src/variables"
.comment-div
  width: 100%

  .comment-section
   border-bottom: 1px solid black
  h3
    text-align: center
    margin: 0.3vh 0.3vw

  .comment
    width: 100%
    padding: 0.3vh 0.3vw
    border-bottom: 1px solid black
    h3
      text-align: center
      margin: 0.3vh 0.3vw
    button
      background-color: $footer-background
      width: 100%
      text-align: center
      &:hover
        color: $navbar-button-hover

    mat-form-field
      width: 100%

    .title-header
      width: 100%
      display: inline-flex
      align-items: center
      h5
        width: 50%
        margin: 0.3vh 0.3vw
      span
        width: 50%
        text-align: right
        font-size: 1.2vh
        color: darkgrey
    .span-star-rating
      width: 100%
      text-align: right
      display: block

    .content-span
      margin-bottom: 1vh
      width: 100%
      display: block
