<div class="comment-div">
  <h3>Komentarze użytkowników:</h3>
  <div *ngIf="(commentList.length === 0)" class="comment-section">
    <h3>Brak komentarzy. Bądź pierwszy i napisz komentarz</h3>

  </div>
  <div *ngIf="(commentList.length !== 0)" class="comment-section">
    <div class="comment-list" *ngFor="let comment of commentList">
      <div class="comment">
        <div class="title-header">
          <h5>{{comment.user_login}}</h5>
          <span> {{comment.created_date.substr(0, 16).replace('T', ' ')}}</span>
        </div>
        <span class="span-star-rating"> Ocena: {{comment.rate}}</span>
        <span class="content-span"> {{comment.content}}</span>
      </div>
    </div>
  </div>
  <div class="comment">
    <h3>Dodaj komentarz:</h3>
    <mat-form-field>
        <textarea
          matInput
          placeholder="Treść komentarza"
          (input)="typed($event.target.value,2)"></textarea>
      <mat-hint *ngIf="isErrorText" class="error-message">{{ errorMessageText }}</mat-hint>
    </mat-form-field>
    <div class="title-header">
      <mat-form-field>
        <mat-select placeholder="Ocena:" [(ngModel)]="selectedValue">
          <mat-option *ngFor="let rate of rates" [value]="rate.value">
            {{rate.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="isErrorRate" class="error-message">{{ errorMessageRate }}</mat-hint>
      </mat-form-field>
    </div>
    <button type="submit"
            class="search-button"
            (click)="addComment()">Dodaj komentarz</button>
  </div>
</div>
