@import variables.sass

body
  margin: 0
  font-family: $font

a
  display: inline-block
  text-decoration: none
a:hover
  text-decoration: none
  cursor: pointer

a:visited
  color: $white

button
  background-color: transparent
  border: none
  outline: none
  font-weight: bold
  font-size: 2vh
  color: $white
  border-radius: 5px
  padding: 1vh 0

  &:hover
    cursor: pointer
  &:active
    color: $navbar-button-hover

.home-container
  width: 100%
  height: 79vh
  display: flex

.cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container
  padding: 2.5vh 2vw
  border-radius: 5px

.error-message
  color: #e00000

ngx-material-timepicker
  div
    .timepicker__header,
    .clock-face__clock-hand,
    .clock-face__number>span.active,
    .clock-face__clock-hand:after
      background-color: $navbar-color!important
    .timepicker-button
      color: $navbar-color!important

.map-component-style
  width: 100%
  height: 100%

.error-div
  display: none
  border: 2px solid $error-border
  background: transparentize($error-message-color, 0.5)
  color: $white
  h4
    margin-top: 0
    margin-bottom: 0
    text-align: center

input
  box-sizing: border-box
  padding: 0.7vh 0.4vw
  outline: none
  border: 1px solid $gray-light

div
  box-sizing: border-box

app-chenk-hotel,
app-check-road,
app-plan-trip,
app-user,
app-account-details,
app-my-reserved-hotels,
app-my-tickets,
app-my-trips
  width: 100%
  display: flex
  height: 100%


mat-form-field
  width: 100%

.search-button
  display: inline-flex
  justify-content: center
  align-items: center
  mat-icon,i
    margin-left: 0.2vw

.sort-by-div
  padding: 0.8vh 0.8vw
  display: inline-flex
  align-items: center
  width: 100%
  margin: 1vh 0

mat-tab
  padding: 0.8vh 0.8vw
