@import ../../variables.sass


.register-container
  display: block
  width: 100%
  height: auto
  h2
    width: 100%
    text-align: center
    margin-top: 0
    margin-bottom: 2vh
    padding-bottom: 1vh
    border-bottom: 2px solid $navbar-color
  .login-span
    text-align: right
    font-size: 1vw
    padding-bottom: 0.9vh
    a
      color: blue
      justify-content: center
      font-size: 0.9vw
  form
    display: block
    span
      display: block
      width: 100%
      font-size: 1.1vw
      margin-bottom: 1.5vh
    div
      margin-bottom: 2vh
      input
        width: 100%
        font-size: 2.5vh
        padding: 0.25vh 0

    button
      width: 100%
      background-color: $navbar-color
      &:hover
        color: $navbar-button-hover
