<div class="register-container">
  <h2>Zarejestruj się</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <mat-form-field><input
      matInput
      placeholder="Login"
      [(ngModel)]="form.user_login"
      #user_login="ngModel"
      type="text"
      name="user_login"></mat-form-field>
    <mat-form-field><input
      matInput
      placeholder="E-mail"
      [(ngModel)]="form.email"
      #email="ngModel"
      type="text"
      [email]="true"
      name="email"></mat-form-field>
    <mat-form-field><input
      matInput
      placeholder="Hasło"
      [(ngModel)]="form.password"
      #password="ngModel"
      type="password"
      [pattern]="passPatern"
      name="password"></mat-form-field>
    <mat-form-field><input
      matInput
      placeholder="Powtórz hasło"
      type="password"
      [pattern]="passPatern"
      name="reapet_password"></mat-form-field>
    <span class="login-span">Masz już konto? <a (click)="GoToLogin()"> Zaloguj się</a></span>
    <button type="submit" [disabled]="registerForm.form.invalid">Zarejestruj się</button>
  </form>
  <div *ngIf="isInvalid">
    <span>Nieprawidłowe dane </span>
  </div>
</div>
