<div id="map" class="map-component-style">


  <div class="search-column">
    <div *ngIf="(isEmpty)" class="list-container">
      <h3 style="text-align: center">Brak zapisanych tras</h3>

    </div>


    <div class="list-container" *ngIf="(showList)">
      <h3 style="text-align: center">Lista wycieczek:</h3>
      <div class="sort-by-div">
        <mat-select placeholder="Sortuj:">
          <mat-option (onSelectionChange)="sortByNameAZ()" value="Od A do Z">Posortowane: Od A do Z.</mat-option>
          <mat-option (onSelectionChange)="sortByNameZA()" value="Od Z do A">Posortowane: Od Z do A.</mat-option>
          <mat-option (onSelectionChange)="sortByAddDateY()" value="Data dodania(od najnowszych)">Posortowane: Data
            dodania(od najnowszych).
          </mat-option>
          <mat-option (onSelectionChange)="sortByAddDateO()" value="Data dodania(od najstarszych)">Posortowane: Data
            dodania(od najstarszych).
          </mat-option>
          <mat-option (onSelectionChange)="sortByUsageDateO()" value="Data użycia(od najstarszych)">Posortowane: Data
            użycia(od najstarszych).
          </mat-option>
          <mat-option (onSelectionChange)="sortByUsageDateN()" value="Data użycia(od najstarszych)">Posortowane: Data
            użycia(od najstarszych).
          </mat-option>
        </mat-select>
      </div>
      <mat-tab-group (selectedTabChange)="tabChange($event)" >
        <mat-tab label="Wszystkie">
          <div class="route-list-element" *ngFor="let trip of tripList">
            <div (click)="showTrip(trip)" class="route">
              <p class="p-header"> {{trip.name}}</p>
              <div class="start-end-div">
                <div class="name-div"><p>{{trip.start_name}}</p></div>
                <div class="name-div align-right"><p>{{trip.end_name}}</p></div>
              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="Aktywne">
          <div class="route-list-element" *ngFor="let trip of tripList">
            <div (click)="showTrip(trip)" class="route">
              <p class="p-header"> {{trip.name}}</p>
              <div class="start-end-div">
                <div class="name-div"><p>{{trip.start_name}}</p></div>
                <div class="name-div align-right"><p>{{trip.end_name}}</p></div>
              </div>
            </div>

          </div>

        </mat-tab>
        <mat-tab label="Archiwalne">
          <div class="route-list-element" *ngFor="let trip of tripList">
            <div (click)="showTrip(trip)" class="route">
              <p class="p-header"> {{trip.name}}</p>
              <div class="start-end-div">
                <div class="name-div"><p>{{trip.start_name}}</p></div>
                <div class="name-div align-right"><p>{{trip.end_name}}</p></div>
              </div>
            </div>

          </div>

        </mat-tab>
      </mat-tab-group>



    </div>


    <div class="list-container" *ngIf="(!showList)">
      <div class="back-to-list-div" (click)="showListAgain()">
        <mat-icon>arrow_back</mat-icon>
        <span> Wróć do listy </span>
      </div>
      <div class="trip-name-div">
        <h3>{{actualTrip.name}}</h3>
        <button
          class="search-button"
          (click)="deleteTrip()"> Usuń wycieczkę
        </button>
      </div>
      <div *ngIf="(showSteps)" class="steps-div">
        <h3> Wskazówki aktualnej trasy </h3>
        <div>
          <mat-icon class="mat-icon left" (click)="previousStep()">keyboard_arrow_left</mat-icon>
          <div class="step-more-info">
            <p>{{ actualStep.instruction }}</p>
          </div>
          <mat-icon class="mat-icon right" (click)="nextStep()">keyboard_arrow_right</mat-icon>
        </div>

      </div>
      <div *ngIf="(isData)">
        <h3 style="margin: 0;text-align: center">Trasy:</h3>
        <div class="route-list-element" style="" *ngFor="let road of RouteListData">
          <div (click)="showRoute(road)" class="route">
            <div class="start-end-div">
              <div class="name-div"><p>{{road.sPointName}}</p></div>
              <div class="name-div align-right"><p>{{road.ePointName}}</p></div>
            </div>
            <div class="summary-div">
              <span>Podsumowanie:</span>
              <span class="summary-info">Czas:</span>
              <span class="summary-info align-right">{{ road.time }}</span>
              <span class="summary-info">Długość trasy:</span>
              <span class="summary-info align-right"> {{road.distance}}</span>
            </div>
          </div>

        </div>
        <h3 style="margin: 0;text-align: center">Hotele:</h3>
        <div class="list-element" *ngFor="let hotel of cityCordinates" (click)="showHotel(hotel)">
          <div class="hotel-image">
            <img src="/src/assets/images/hotel-with-three-floors.svg">
          </div>
          <div class="hotel-info">
            {{ hotel.hotelName }}
          </div>
          <!-- ikona usuniecia-->
        </div>
      </div>

    </div>
  </div>
  <div class="data-hotel-column" *ngIf="showHotelData">
    <h5> {{ hotelName }} </h5>
    <div>
      <span class="set-left-padding">Piętra:</span>
      <span class="span-right">{{floors}}</span>
    </div>
    <div>
      <span class="set-left-padding">Pokoje:</span>
      <span class="span-right">{{rooms}}</span>
    </div>
    <div>
      <span class="set-left-padding">Jakość:</span>
      <span class="span-right">{{qualitty}}</span>
    </div>
    <div>
      <span class="set-left-padding">Adres:</span>
      <span class="span-right">{{address}}</span>
    </div>
    <div>
      <span class="set-left-padding">Telefon:</span>
      <span class="span-right"> {{phone}}</span>
    </div>
    <div>
      <span class="set-left-padding">Fax:</span>
      <span class="span-right"> {{fax}}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Udogodnienia:</span>
      <span class="wide-span set-font-size">{{ translationText }}</span>
    </div>
    <div class="wide-div">
      <span class="wide-span set-left-padding">Opis: </span>
      <span class="wide-span set-font-size">{{translationTextDescr }}</span>
    </div>
    <div class="wide-div ">
      <span class="wide-span set-left-padding">Metody płatności:</span>
      <div class="creditcard-div" *ngFor="let an of creditcard">
        <img [src]="creditCardImg(an.content)">
      </div>
    </div>
    <app-comments-list [commentList]="comments" [hotelId]="hotelId" [roadId]="'0'"></app-comments-list>
  </div>

  <div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading"
                 [config]="{ backdropBorderRadius: '3px' }"
                 [template]="customLoadingTemplate"></ngx-loading>
  </div>
  <div *ngIf="showCommentsRoad" class="comments-container">
    <app-comments-list [commentList]="comments" [hotelId]="'0'" [roadId]="roadId"></app-comments-list>
  </div>

</div>
