@import "~src/app/user/my-roads/my-roads.component"
@import "~src/app/user/my-reserved-hotels/my-reserved-hotels.component"


.back-to-list-div
  width: 100%
  display: flex
  align-items: center
  mat-icon
    display: flex
    width:  20%
  span
    width: 80%
.list-container
  max-height: 70vh

.route-list-element
  border-radius: unset


  &:hover
    background-color: darkgrey
.route
  width: 100%
  display: block
  border-radius: unset


  .align-right
    text-align: right


  .p-header
    text-align: center
    font-weight: bold
    font-size: 1.7vh

.summary-div
  padding: 0.3vh 0.3vw
  display: block
  span
    display: block
    font-size: 1.3vh
    width: 100%
  .summary-info
    display: inline-flex
    width: 50%
.start-end-div
  width: 100%
  padding: 0.3vh 0.3vw
  display: flex

  .name-div
    padding: 0
    width: 50%
    font-weight: bold
